/* Base styles */
@import "base/colors.css";
@import "base/typography.css";
@import "base/variables.css";

/* Partial imports */
@import "partials/branding.css";
@import "partials/cart.css";
@import "partials/header.css";
@import "partials/image-placeholder.css";
@import "partials/input.css";
@import "partials/messages.css";
@import "partials/orders.css";
@import "partials/placeholder-common.css";
@import "partials/suggestions.css";
@import "partials/toggle.css";
@import "partials/window.css";

/* Host styles */
:host {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--eigen-45);
  display: flex;
  flex-direction: column;
  font-family: var(--font-base);
  font-size: var(--text-base);
  font-weight: var(--weight-normal);
  letter-spacing: var(--tracking-base);
  pointer-events: none;

  .icon {
    fill: white;
  }

  & > * {
    font-family: var(--font-base);
  }
}