// Import Iride color system
@import "node_modules/@fullbrains/iride/cobalt.scss";
@import "node_modules/@fullbrains/iride/steel.scss";
@import "node_modules/@fullbrains/iride/sky.scss";
@import "node_modules/@fullbrains/iride/eigen.scss";
@import "node_modules/@fullbrains/iride/ruby.scss";
@import "node_modules/@fullbrains/iride/jade.scss";