@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Font settings
$font-base: "Funnel Sans", sans-serif;
$weight-normal: 400;
$weight-medium: 500;
$weight-bold: 700;

$text-base: 17px;
$text-small: 14px;
$text-xs: 12px;
$text-tiny: 10px;
$text-large: 18px;

$leading-base: 1.5;
$tracking-base: normal;