$toggle-btn-size: 60px;
$brand-dot-size: $toggle-btn-size * 0.12;
$circle-btn-size: 40px;
$margin: 20px;
$message-radius: 15px;
$mobile-breakpoint: 480px;
$window-border-radius: 10px;
// Sizes

$z-branding: 10;
$z-header: 10;
$z-window-floating: 9999999;
// Z-index layers

$transition-default: 0.3s ease-out;
$transition-fast: 0.2s ease-out;
// Animation timings

$link-color: mix($sky-50, $cobalt-30);