@import "node_modules/@fullbrains/okuda/colors/kool/kool.scss";
@import "node_modules/@fullbrains/okuda/colors/sky/sky.scss";

:host {
  .tkc {
    &__chat-item {
      width: 100%;
      margin-bottom: 10px;
      display: flex;

      &--product, &--card {
        width: 50%;
      }
    }

    &__product, &__card {
      border: 1px solid $kool-20;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      margin-right: 10px;

      & > img {
        max-width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }

      .tkc__content {
        padding: 10px;
        background-color: $kool-04;

        .tkc__name {
          font-weight: bold;
          font-size: 13px;
        }

        .tkc__description, .tkc__price {
          font-size: 12px;
          margin-top: 4px;
        }

        .tkc__price {
          color: mix($sky-50, $cobalt-30);
        }
      }
    }

    &__markdown {
      background-color: $kool-10;
      border-radius: 6px 22px 22px 22px;
      font-size: 15px;
      line-height: 1.5;
      margin-right: auto;
      max-width: 75%;
      padding: 1px 15px;
      width: max-content;

      p {
        margin: 10px 0;
      }
    }

    &__user-input {
      background-color: var(--bubble-background);
      border-radius: 22px 6px 22px 22px;
      color: var(--bubble-color);
      font-size: 15px;
      line-height: 1.5;
      margin-left: auto;
      max-width: 75%;
      padding: 11px 15px;
      width: max-content;
    }

    &__thinking {
      background-color: $kool-10;
      border-radius: 6px 22px 22px 22px;
      padding: 15px;

      span {
        background-color: $kool-30;
      }
    }

    &__action {
      background-color: $kool-04;
      border-radius: 6px 22px 22px 22px;
      font-size: 15px;
      line-height: 1.5;
      margin-right: auto;
      max-width: 75%;

      &-prompt {
        padding: 15px;
        white-space: pre-line;
      }

      &-buttons {
        padding: 0 10px 10px 10px;
        display: flex;
      }

      &-button {
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-family: inherit;
        font-size: 15px;
        margin: 3px;
        padding: 0 20px;
        height: 30px;
        transition: background-color .3s ease-out, color .3s ease-out;
        background-color: $kool-10;

        &:hover {
          background-color: $kool-15;
        }

        &--primary {
          background-color: $cobalt-30;
          color: white;

          &:hover {
            background-color: $cobalt-35;
          }
        }
      }
    }
  }
}