@import "node_modules/@fullbrains/okuda/colors/kool/kool.scss";
@import "node_modules/@fullbrains/okuda/colors/sky/sky.scss";

:host {
  .tkc {
    &__chat-item {
      width: 100%;
      margin-bottom: 10px;
      display: flex;

      &--product, &--card {
        width: 50%;
      }
    }

    &__product, &__card {
      border: 1px solid $kool-20;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      margin-right: 10px;

      & > img {
        max-width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }

      .tkc__content {
        padding: 10px;
        background-color: $kool-04;

        .tkc__name {
          font-weight: bold;
          font-size: 13px;
        }

        .tkc__description, .tkc__price {
          font-size: 12px;
          margin-top: 4px;
        }

        .tkc__price {
          color: mix($sky-50, $cobalt-30);
        }
      }
    }

    &__markdown {
      background-color: $kool-10;
      border-radius: 6px 22px 22px 22px;
      font-size: 14px;
      line-height: 1.5;
      margin-right: auto;
      max-width: 75%;
      padding: 1px 15px;
      width: max-content;

      p {
        margin: 10px 0;
      }
    }

    &__user-input {
      background-color: var(--bubble-background);
      border-radius: 22px 6px 22px 22px;
      color: var(--bubble-color);
      font-size: 14px;
      line-height: 1.5;
      margin-left: auto;
      max-width: 75%;
      padding: 11px 15px;
      width: max-content;
    }

    &__thinking {
      background-color: $kool-10;
      border-radius: 6px 22px 22px 22px;
      padding: 15px;

      span {
        background-color: $kool-30;
      }
    }
  }
}