@import "../base/colors";
@import "../base/typography";
@import "../base/variables";

.tk__branding {
  align-items: center;
  background: white;
  color: $steel-30;
  display: flex;
  font-size: $text-tiny;
  justify-content: center;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: $z-branding;

  a {
    color: $steel-30;
    padding-bottom: 10px;
    text-decoration: none;
    transition: color $transition-fast;

    &:hover {
      color: $cobalt-35;
    }
  }

  span {
    padding-top: 2px;
  }

  svg {
    path {
      fill: currentColor;
    }
  }
}