@import "../base/colors";
@import "../base/typography";
@import "../base/variables";

.tk__cart {
  &-empty {
    color: $steel-30;
    padding: 15px;
    text-align: center;
  }

  &-item {
    align-items: flex-start;
    display: flex;
    margin-bottom: -1px;
    position: relative;

    &--clickable {
      cursor: pointer;
      padding: 10px;
      transition: background-color 150ms;

      &:hover {
        background-color: mix($sky-06, $cobalt-06);

        &::after {
          background-color: transparent;
        }

        .tk__placeholder-base {
          background-color: mix($sky-10, $cobalt-10);

          svg {
            fill: mix($sky-35, $cobalt-35);
          }
        }
      }
    }

    &::after {
      background-color: $steel-15;
      bottom: 0;
      content: "";
      height: 1px;
      left: 10px;
      position: absolute;
      right: 10px;
      transition: background-color 150ms;
    }

    &-image {
      border-radius: 4px;
      height: 40px;
      margin-right: 10px;
      object-fit: cover;
      width: 40px;
    }

    &-details {
      flex: 1;
      min-width: 0; // Allow flex item to shrink below content size
    }

    &-title {
      color: $eigen-45;
      font-size: $text-small;
      font-weight: $weight-bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-info {
      color: $steel-50;
      font-size: $text-small;
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &-price {
        color: $link-color;
      }
    }
  }

  &-more {
    color: $link-color;
    cursor: pointer;
    font-size: $text-small;
    font-weight: $weight-normal;
    text-align: left;
    transition: color $transition-default;
    width: max-content;

    &:hover {
      color: darken($link-color, 10%);
    }
  }

  &-total {
    align-items: center;
    display: flex;
    font-size: $text-small;
    font-weight: $weight-bold;
    justify-content: space-between;
    padding: 10px;

    &-text {
      color: $eigen-45;
      font-size: $text-small;
      font-weight: $weight-bold;
    }
  }
}