@import "../base/colors";
@import "../base/variables";
@import "../base/typography";

.tk__header {
  align-items: center;
  background: white;
  outline: 1px solid rgba(black, 0.1);
  z-index: $z-header;
  display: flex;
  font-size: $text-base;
  font-weight: $weight-bold;
  justify-content: space-between;
  padding: 10px;

  @media screen and (min-width: 768px) {
    font-size: $text-large;
  }
}

.tk__title {
  padding-left: 10px;
  margin-right: auto;
  line-height: $circle-btn-size;
}

.tk__avatar {
  width: $circle-btn-size;
  height: $circle-btn-size;
  border-radius: $circle-btn-size;
  overflow: hidden;
}

.tk__close,
.tk__reset {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-items: center;
  background-color: transparent;
  border-radius: $circle-btn-size;
  border: none;
  color: $eigen-45;
  cursor: pointer;
  display: flex;
  height: $circle-btn-size;
  justify-content: center;
  outline: none;
  pointer-events: auto;
  transition: background-color $transition-default, color $transition-default;
  width: $circle-btn-size;

  &:hover {
    background-color: $steel-10;
  }

  svg {
    pointer-events: none;

    line, g, path, polyline {
      stroke: currentColor;
    }
  }
}