@import "../base/colors";
@import "../base/variables";
@import "../base/typography";

.tk__suggestions-container {
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    pointer-events: none;
    z-index: 9999;
    background: linear-gradient(to bottom, rgba(white, 0), white);
  }
}

.tk__suggestions {
  align-items: end;
  display: flex;
  height: 25px;
  overflow-x: auto;
  padding: 5px 15px 0 15px;
  border-radius: 15px 15px 0 0;
  flex: 1;

  // Hide scrollbar completely on suggestions
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  // Hide scrollbar for WebKit browsers (Chrome, Safari)
  &::-webkit-scrollbar {
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    pointer-events: none;
    border-radius: 15px 15px 0 0;
    z-index: 9999;
    outline: 1px solid rgba(black, 0.1);
  }

}

.tk__suggestions-scroll-btn {
  position: absolute;
  top: 4px;
  width: 30px;
  bottom: 0;
  border: none;
  color: $eigen-45;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease, color 0.2s ease;

  &:hover {
    color: $cobalt-35;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  svg {
    fill: currentColor;
    width: 15px;
    height: 15px;
  }
}

.tk__suggestions-scroll-left {
  left: 0;
  background: linear-gradient(90deg, white 75%, rgba(255, 255, 255, 0) 100%);
}

.tk__suggestions-scroll-right {
  right: 0;
  background: linear-gradient(270deg, white 75%, rgba(255, 255, 255, 0) 100%);
}

.tk__suggestion {
  align-items: center;
  background-color: rgba($cobalt-30, 0.1);
  border: 0;
  border-radius: 15px 6px 15px 15px;
  color: $cobalt-30;
  cursor: pointer;
  display: flex;
  font-family: $font-base;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 20px;
  margin-right: 5px;
  padding: 3px 10px;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  letter-spacing: -0.03em;

  &:hover {
    background-color: rgba($cobalt-30, 0.15);
    color: $cobalt-35;
  }
}