@import "../base/colors";
@import "../base/typography";
@import "../base/variables";

.tk__suggestions-container {
  align-items: center;
  display: flex;
  position: relative;

  &::after {
    background: linear-gradient(to bottom, rgba(white, 0), white);
    height: 10px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 9999;
  }
}

.tk__suggestions {
  align-items: end;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex: 1;
  height: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 8px 20px 0 20px;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  // Hide scrollbar completely on suggestions
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &:after {
    border-radius: 15px 15px 0 0;
    content: "";
    height: 150px;
    left: 0;
    outline: 1px solid rgba(black, 0.1);
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
}

.tk__suggestions-scroll-btn {
  align-items: center;
  border: none;
  bottom: 0;
  color: $eigen-45;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 12px;
  transition: opacity 0.2s ease, visibility 0.2s ease, color 0.2s ease;
  visibility: hidden;
  width: 40px;
  z-index: 10;

  &:hover {
    color: $cobalt-35;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  svg {
    fill: currentColor;
    height: 15px;
    width: 15px;
  }
}

.tk__suggestions-scroll-left {
  background: linear-gradient(90deg, white 75%, rgba(255, 255, 255, 0) 100%);
  left: 0;
}

.tk__suggestions-scroll-right {
  background: linear-gradient(270deg, white 75%, rgba(255, 255, 255, 0) 100%);
  right: 0;
}

.tk__suggestion {
  align-items: center;
  background-color: rgba($cobalt-30, 0.1);
  border-radius: 15px 6px 15px 15px;
  border: 0;
  color: $cobalt-30;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-family: $font-base;
  font-size: 13px;
  letter-spacing: -0.03em;
  line-height: 20px;
  margin-right: 5px;
  padding: 3px 10px;
  transition-duration: 300ms;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: rgba($cobalt-30, 0.15);
    color: $cobalt-35;
  }
}