@import "../base/colors";
@import "../base/variables";
@import "../base/typography";

.tk__suggestions {
  align-items: end;
  display: flex;
  height: 25px;
  overflow-x: auto;
  padding: 5px 10px;
}

.tk__suggestion {
  align-items: center;
  background-color: rgba($cobalt-30, 0.1);
  border: 0;
  border-radius: 30px 6px 30px 30px;
  color: $cobalt-30;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 20px;
  margin-left: 5px;
  padding: 3px 10px;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  &:hover {
    background-color: rgba($cobalt-30, 0.15);
    color: $cobalt-35;
  }
}