@import "../base/colors";
@import "../base/variables";

.tk__toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-items: center;
  background-color: var(--toggle-default-background);
  border-radius: $toggle-btn-size * 0.5 $toggle-btn-size * 0.5 $toggle-btn-size * 0.5 $toggle-btn-size * 0.15;
  border: none;
  color: var(--toggle-dots-background);
  cursor: pointer;
  display: flex;
  height: $toggle-btn-size;
  justify-content: center;
  margin-left: auto;
  outline: none;
  pointer-events: auto;
  transition: border-radius 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out, transform 500ms ease-out;
  width: $toggle-btn-size;

  &--open {
    background-color: var(--toggle-hover-background);
    border-radius: $toggle-btn-size * 0.15 $toggle-btn-size * 0.5 $toggle-btn-size * 0.5 $toggle-btn-size * 0.5;
  }

  &--unclosable {
    background-color: var(--toggle-default-background);
    border-radius: $toggle-btn-size * 0.15 $toggle-btn-size * 0.5 $toggle-btn-size * 0.5 $toggle-btn-size * 0.5;
  }

  &:hover {
    background-color: var(--toggle-hover-background);

    span {
      animation: animateDots 1s linear forwards;
    }
  }
}

.tk__dots {
  align-items: center;
  display: flex;
  justify-content: center;

  &--animated {
    span {
      animation: animateDots 1s linear infinite;
    }
  }

  span {
    background-color: currentColor;
    border-radius: $brand-dot-size;
    height: $brand-dot-size;
    margin: $brand-dot-size * 0.33;
    width: $brand-dot-size;
    pointer-events: none;

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }
}

@keyframes animateDots {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-50%);
  }

  40% {
    transform: translateY(50%);
  }

  60% {
    transform: translateY(0);
  }
}