@import "../base/colors.css";
@import "../base/variables.css";

.tk__backdrop {
  background-color: var(--backdrop-color, rgba(0, 0, 0, 0.2));
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--transition-default), visibility var(--transition-default);
  visibility: hidden;
  z-index: var(--z-backdrop);

  &--blur-sm {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  &--blur-md {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  &--blur-lg {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }

  &--blur-xl {
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
  }

  &--visible {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: opacity var(--transition-default), visibility 0s;
  }
}
