@import "../base/colors.css";
@import "../base/variables.css";

.tk__image-placeholder {
  align-items: flex-start;
  background-color: var(--steel-20);
  border-radius: 4px;
  display: flex;
  justify-content: center;

  &.tk__cart-item-image {
    height: 40px;
    width: 40px;
  }

  /* Inherit dimensions from parent context */

  .tk__placeholder-icon {
    /* Placeholder for future SVG icon */
    background-color: var(--steel-35);
    border-radius: 2px;
    height: 50%;
    width: 50%;
  }
}

/* Image placeholder component */